body {
    margin: 0;
    background: radial-gradient(circle at top, #0f1530, #05070f);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    position: relative;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* zona que tapa SOLO el nacimiento de las notas */
  .notes-layer {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;

    -webkit-mask-image: linear-gradient(to top,
        transparent 0%,
        transparent 50%,
        rgba(0,0,0,0.3) 60%,
        rgba(0,0,0,0.6) 70%,
        rgba(0,0,0,1) 85%,
        black 100%
    );

    mask-image: linear-gradient(to top,
        transparent 0%,
        transparent 50%,
        rgba(0,0,0,0.3) 60%,
        rgba(0,0,0,0.6) 70%,
        rgba(0,0,0,1) 85%,
        black 100%
    );
    }

  /* brazo */
  .arm {
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 4px;
    height: 180px;
    transform-origin: bottom center;
    animation: swing calc(var(--beat) * 2) ease-in-out infinite;
    z-index: 2;
  }

  /* logo */
  .logo {
    position: absolute;
    top: -40px;
    left: 50%;
    width: 90px;
    transform: translateX(-50%);
    filter: drop-shadow(0 0 16px #5ddcff);
    z-index: 5;
  }

  @keyframes swing {
    0%   { transform: rotate(-20deg); }
    50%  { transform: rotate(20deg); }
    100% { transform: rotate(-20deg); }
  }

  /* burbujas musicales */
  .note {
    position: absolute;
    bottom: 185px;
    left: 50%;
    font-size: 20px;
    opacity: 0;
    animation: floatUp 3s linear forwards;
    pointer-events: none;
    filter: blur(0.3px);
    }

  @keyframes floatUp {
    0% {
        transform: translateX(0) translateY(0) scale(0.8);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    60% {
        opacity: 0.7;
    }

    80% {
        opacity: 0;
    }

    100% {
        transform: translateX(var(--x)) translateY(-120px) scale(1.4);
        opacity: 0;
    }
  }

    .loading-text {
        text-shadow: 0 0 6px #5ddcff;
        margin-top: 120px; 
        margin-bottom: 10px;
        font-family: system-ui, sans-serif;
        font-size: 18px;
        color: #8fd3ff;
        letter-spacing: 2px;
        animation: breathe 2s ease-in-out infinite;
    }


    .dots {
        display: inline-block;
        width: 1.5em;        /* reserva espacio para los 3 puntos */
        text-align: left;
    }

    .dots::after {
        content: "";
        animation: dots 1.2s steps(3, end) infinite;
    }

    @keyframes dots {
        0%   { content: ""; }
        33%  { content: "."; }
        66%  { content: ".."; }
        100% { content: "..."; }
    }

    @keyframes breathe {
        0%,100% { opacity: 0.7; }
        50% { opacity: 1; }
    }

